@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Sono:wght@300;400;500;800&display=swap");

$bp-extraLarge: 75.31em; //1205px
$bp-large: 61.06em; //977px
$bp-medium: 42.1em; //675px
$bp-small: 35.93em; //575px
$bp-smallest: 29.5em; //472px

$warmblack: #525252;
$lighterblack: #252422;
$soft: #fbc770;
$warmwhite: #f7f7f2;
$blue1: #036474;
$greytext: #f0f0f0;
$greybackground: #f9f9f9;
$warmgreen: #d3e37b;

$greenbackground: #dbf09c;
$greenshadow: #abbf72;

.App-container {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 5fr;
  height: 100vh;
}

// * {
//   margin: 0;
//   padding: 0;
// }

html {
  font-size: 62.5%; /* 1 rem = 10px, 10px/16px (browser default) = 62.5% */
}
