@import "Body";

.App-title {
  font-family: "Sono", sans-serif;
  font-weight: 500;
  font-size: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $greenbackground;
  padding: 2rem 0;

  @media only screen and (max-width: $bp-medium) {
    font-size: 2.5rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1.5rem;
  }
  @media only screen and (max-width: $bp-smallest) {
    padding-top: 3rem;
  }
}
